body{
  background-color: #fcdbdb;
  padding: 20px;
  margin: 20px;
}
div.headings{
  position: fixed;
  top: 0px;
  padding-right: 30px;
  width: 100%;
  background-color: #efefef;
}
#image{
  margin-top: 170px;
}
div.Retail{
  border-style: dotted;
  border-color: blue;
  border-width: thick;
  padding: 10px;
  margin: 10px;
  margin-right: 250px;
  box-shadow: inset 0 0 40px blue;

}
div.column1of2 {
  float: left;
  align-items: center;
  width: 625px;
    height: 300px;
  margin: 10px;}
div.column2of2 {
  float: left;
  align-items: center;
  width: 625px;
  height: 300px;
  margin: 10px;}
h1{
  color: blue;
  text-transform: uppercase;
  font-size: 45px;
}
h2{
  color: #d139f7;
}
h3{
  color: #5f980d;
}
#Main-heading{
  font-family: fantasy;
  font-weight: bold;
  font-size: 50px;
  color: red;
  line-height: 0em;
}
#Second-heading{
  color: grey;
  text-decoration: underline;
}
.radioBox{
  text-align: center;
  line-height: 2em;
}
#ending{
  text-align: right;
}
#thanks{
  font-family: sans-serif;
  font-weight: highlight;
  font-size: 30px;
  color: #2b032a;
}
#ending{
  font-family: sans-serif;
  font-weight: highlight;
  font-size: 30px;
  color: #2b032a;
}
.footer{
  background-color: #d4cfff;
  width: 50%;
  margin: auto;
}
input[type="submit"]{
  border-radius: 10px 10px 10px 10px;
  background-color: green;
  border-style: hidden;
}
input[type="submit"]:hover{
  color: red;
  background-color: blue;
  height: 20%;
  width: 20%;
}
input[type="radio"]:checked + label{
  color: red;
  font-family: fantasy;
}
ul{
  color: green;
  font-style: oblique;
  vertical-align: top;
  list-style-type: decimal;
  list-style-position: inside;
  list-style-image: url('2000px-New_Bullet_GoldStar.svg.png');
}
ul #favorite{
  color: blue;
  font-size: 20px;
  font-weight: bold;
}
table{
  text-transform: capitalize;
  padding: 30px;
  margin-top: 10px;
}
th{
  background-color: yellow;
  text-decoration: center;
}
tbody tr:hover{
  color: red;
}
tr:nth-child(odd){
  background-color: white;
}
tr:nth-child(even){
  background-color: green;
}
a:visited {
  color: brown;
}
A:link { COLOR: grey; }
A:hover { COLOR: green; }
